*{
  margin: 0;
  padding: 0;
}

.add-section{
  padding: 2rem;
}

.add-button-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.btn{
  outline: none;
  background: none;
  border: 1px solid #880E4F;
  border-radius: 1rem;
}

.btn:hover{
  -webkit-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 30px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 30px 0px rgba(50, 50, 50, 0.75)
}

.btn:focus{
  outline: none;
}

.posts-wrapper{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
